/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== RENDER 1REM = 10PX =============*/
  font-size: 62.5%;

  --header-height: 3.2rem ;

  /*========== Colors ==========*/

  --title-color: hsl(0, 6%, 24%);
  --text-color: hsl(0, 36%, 70%);
  --error-color: hsl(0, 93%, 68%);
  --body-color: white;
  
  /* ### Gradients */
  
  /* --Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
  --Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */
  
  /*========== Font and typography ==========*/
  --body-font : 'Josefin Sans';
  
  --h1-font-size: 4rem ;
  --normal-font-size: 2.2rem;

  --h1-line-hight: 4.4rem ;
  --h1-letter-spacing: 1.08rem ;
  --p-line-hight: 2.2rem ;

  
  /*========== Font weight ==========*/
  --font-small: 300 ;
  --font-medium: 400;
  --font-semi-bold: 600 ;

  /*========== Margins Bottom ==========*/
  --mb-logo: 3.2rem ;
  --mb-: ;
  --mb-0-75: ;
  --mb-1: ;
  --mb-sides: 1.6rem ;
  --mb-2: ;
  --mb-2-5: ;
  --mb-3: ;

}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 6.4rem; 
    --normal-font-size:2.8rem ;

  }
}

/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== RE-USABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.container {
  max-width: 75.8rem;
  margin-left: var(--mb-sides);
  margin-right: var(--mb-sides);
}








